.reproductions {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.reproductions__header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reproductions__tabs {
  display: flex;
  column-gap: 32px;
}

.reproductions__tab {
  height: 43px;
  padding-inline: 20px;
  font-size: 20px;
  color: var(--color-accent-darker);
  background-color: var(--color-accent-light);
  border-radius: var(--border-radius);

  &:hover,
  &.is-active {
    color: var(--color-light);
    background-color: var(--color-accent-dark);
  }

  &.is-active {
    pointer-events: none;
  }
}

.reproductions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 794px) {
  .reproductions__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .reproductions {
    row-gap: 20px;
  }

  .reproductions__header {
    flex-direction: column;
  }

  .reproductions__tab {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .reproductions {
    padding-inline: 0;
  }

  .reproductions__header {
    padding-inline: var(--container-padding-x) 0;
  }

  .reproductions__tabs {
    width: 100%;
    overflow-x: auto;
    column-gap: 20px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .reproductions__tab {
    flex: 0 0 auto;
  }

  .reproductions__list {
    grid-template-columns: 1fr;
    padding-inline: var(--container-padding-x);
  }
}
