.team {
  display: flex;
  align-items: end;
  column-gap: 30px;
  padding-block: 70px;
}

.team__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 44px;
}

.team__description {
  color: var(--color-dark);
}

.team__list {
  display: flex;
  column-gap: 30px;
}

@media (max-width: 767px) {
  .team {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
    padding-inline: 40px;
  }

  .team__image {
    max-width: 510px;
    width: 100%;
  }

  .team__body {
    row-gap: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .team {
    row-gap: 30px;
    padding: 50px 32px;
  }

  .team__image {
    max-width: 375px;
  }

  .team__body {
    row-gap: 20px;
  }
}

@media (max-width: 480px) {
  .team {
    padding-inline: var(--container-padding-x);
  }

  .team__list {
    column-gap: 25px;
  }
}
