.burger-button {
  --burgerLineWidth: 21px;
  --burgerLineHeight: 2px;
  --burgerLineGap: 6px;

  display: none;
  position: relative;
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--burgerLineGap);
  color: #4c5866;

  & > .burger-button__line {
    display: block;
    width: var(--burgerLineWidth);
    height: var(--burgerLineHeight);
    background-color: currentColor;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);
  }

  &.is-active {
    & > .burger-button__line:first-child {
      transform: translateY(8px) rotate(45deg);
    }

    & > .burger-button__line:nth-child(2) {
      width: 0;
    }

    & > .burger-button__line:last-child {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  @media (max-width: 480px) {
    display: flex;
    margin-left: 0;
  }
}
