.button {
  height: var(--button-height);
  padding-inline: 60px;
  font-size: 20px;
  color: var(--color-accent);
  border: var(--border);

  &:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }

  &.yellow {
    color: var(--color-dark);
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);

    &:hover {
      color: var(--color-yellow);
      background-color: transparent;
    }
  }
}

@media (max-width: 768px) {
  .button {
    height: 60px;
    padding-inline: 50px;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .button {
    height: 50px;
    padding-inline: 40px;
  }
}

@media (max-width: 480px) {
  .button {
    padding-inline: 30px;
  }
}
