body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-accent-muted);
  background-color: var(--color-light);
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-dark);

  &:hover {
    color: var(--color-accent-muted);
  }
}

h1,
.h1,
h2,
.h2 {
  font-weight: 500;
  line-height: 1.1;
  color: var(--color-dark);
}

h1,
.h1 {
  font-size: 60px;
}

h2,
.h2 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 30px;
}

h4,
.h4 {
  font-size: 20px;
}
