body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: clamp(14px, 1.5vw, 18px);
  color: var(--color-accent-muted);
  background-color: var(--color-light);

  &.is-menu-open {
    overflow: hidden;
  }
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a,
button {
  &:hover {
    color: var(--color-accent-muted);
  }
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

button {
  padding-inline: 0;
  background-color: transparent;
  border: none;

  &:active {
    scale: 0.97;
  }
}

h1,
.h1,
h2,
.h2 {
  font-weight: 500;
  line-height: 1.1;
  color: var(--color-dark);
}

h1,
.h1 {
  font-size: clamp(30px, 5vw, 60px);
}

h2,
.h2 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 30px;
}

h4,
.h4 {
  font-size: 20px;
}
