.header {
  background-color: var(--color-accent-lighter);
}

.header__inner {
  display: flex;
  align-items: center;
  column-gap: 60px;
  padding: 32px 40px;
}

.header__logo {
  flex-shrink: 0;
}

.header__menu {
  margin-left: auto;
}

.header__menu-list {
  display: flex;
  column-gap: 60px;
}

.header__menu-link {
  font-size: 20px;
  color: var(--color-accent-darker);
}

@media (max-width: 768px) {
  .header__menu-link {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .header__inner {
    padding: 16px 32px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header__logo {
    flex-basis: 100%;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: var(--border-muted);
  }

  .header__menu {
    margin-left: 0;
  }
}
